main .posters .posters-inner .posters-cards .poster-card:last-child, main .posters .posters-inner .posters-cards .poster-card:nth-child(3), main .posters .posters-inner .posters-cards .poster-card:nth-child(2), main .posters .posters-inner .posters-cards .poster-card:first-child, main .quotes, header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  align-self: center;
  margin-top: 60px;
}
.btn button {
  width: 280px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #000;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

header {
  position: relative;
  background-image: url(../images/home.jpg);
  height: 1000px;
}
header .header-inner {
  height: 180px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
header .header-inner .logo img {
  vertical-align: middle;
}
header .header-inner .nav-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 9px 0;
  color: #fff;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
header .header-inner nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d1013;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 190px 0 0 290px;
  opacity: 98%;
  display: none;
}
header .header-inner nav .nav-link {
  color: #626262;
  font-size: 50px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-left: 0;
  transition: 0.8s;
}
header .header-inner nav .nav-link:hover {
  color: #fff;
  margin-left: 15px;
}
header .hero-inner {
  width: 70%;
  height: 820px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: #fff;
}
header .hero-inner .hero-title {
  font-size: 220px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 14.08px;
}
header .hero-inner .hero-subtitle {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 6.4px;
  margin-bottom: 228px;
}
header .hero-inner .indicators {
  display: flex;
  align-self: center;
  margin-bottom: 114px;
}
header .hero-inner .indicators .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 12px;
}
header .hero-inner .indicators .circle.active {
  background-color: #fff;
}

main .about .about-inner {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 90px 0;
}
main .about .about-inner .about-title {
  font-size: 60px;
  font-weight: 700;
}
main .about .about-inner .about-title span {
  font-weight: 200;
}
main .about .about-inner .about-description {
  font-size: 20px;
  font-weight: 600;
  margin-top: 38px;
}
main .about .about-inner .line {
  width: 80px;
  height: 2px;
  background-color: #000;
  margin: 40px 0;
}
main .about .about-inner .about-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
main .testimonials {
  height: 650px;
  background-color: #ffddd5;
}
main .testimonials .testimonials-inner {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
main .testimonials .testimonials-inner .testimonials-content {
  flex: 1;
  padding: 100px 0px 80px 5%;
}
main .testimonials .testimonials-inner .testimonials-content .testimonials-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}
main .testimonials .testimonials-inner .testimonials-content .testimonials-writter {
  font-size: 36px;
  font-weight: 100;
  margin-top: 50px;
}
main .testimonials .testimonials-inner .testimonials-content .indicators {
  display: flex;
}
main .testimonials .testimonials-inner .testimonials-content .indicators .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #626262;
  margin: 40px 5px 0 5px;
}
main .testimonials .testimonials-inner .testimonials-content .indicators .circle.active {
  background-color: #626262;
}
main .testimonials .testimonials-inner .testimonials-image {
  flex: 1;
  height: 100%;
}
main .testimonials .testimonials-inner .testimonials-image img {
  width: 100%;
  height: 100%;
}
main .reasons .reasons-inner {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 90px 0;
}
main .reasons .reasons-inner .reasons-title {
  font-size: 60px;
  font-weight: 700;
}
main .reasons .reasons-inner .line {
  width: 80px;
  height: 2px;
  background-color: #000;
  margin-top: 30px;
  margin-bottom: 80px;
}
main .reasons .reasons-inner .cards-row {
  display: flex;
}
main .reasons .reasons-inner .cards-row .card {
  flex: 1;
  width: 290px;
  padding: 50px;
  border: 1px solid #dcdcdc;
}
main .reasons .reasons-inner .cards-row .card:nth-child(odd) {
  border-right: none;
}
main .reasons .reasons-inner .cards-row .card .card-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
main .reasons .reasons-inner .cards-row .card .card-text {
  font-size: 20px;
  font-weight: 500;
  margin: 36px 0;
  line-height: 1.5;
}
main .reasons .reasons-inner .cards-row .card .card-writter {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
main .reasons .reasons-inner .cards-row:last-child .card {
  border-top: 0;
}
main .quotes {
  height: 660px;
  background-image: url(../images/quotes-bg.jpg);
}
main .quotes .quotes-inner {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 90px 0;
  color: #fff;
}
main .quotes .quotes-inner .quote {
  font-size: 60px;
  font-weight: 700;
}
main .quotes .quotes-inner .reference {
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
}
main .quotes .quotes-inner .reference .underline {
  text-decoration: underline;
}
main .posters {
  background-color: #eaeef1;
}
main .posters .posters-inner {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 90px 0;
}
main .posters .posters-inner .posters-title {
  font-size: 60px;
  font-weight: 700;
}
main .posters .posters-inner .line {
  width: 80px;
  height: 2px;
  background-color: #000;
  margin-top: 30px;
  margin-bottom: 80px;
}
main .posters .posters-inner .posters-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 380px 380px;
  grid-gap: 30px;
  grid-template-areas: "column-1 column-1 column-2 column-2" "column-1 column-1 column-3 column-4" ". . . .";
}
main .posters .posters-inner .posters-cards .poster-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .posters .posters-inner .posters-cards .poster-card:first-child {
  background-image: url(../images/poster_1.jpg);
  grid-area: column-1;
  color: #fff;
  box-shadow: 0px 2px 100px 0px rgba(0, 0, 0, 0.43);
}
main .posters .posters-inner .posters-cards .poster-card:first-child .poster-text {
  font-family: "tw cen mt condensed";
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin: auto 0;
}
main .posters .posters-inner .posters-cards .poster-card:first-child .buy-share {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  padding: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
main .posters .posters-inner .posters-cards .poster-card:first-child .buy-share .buy-btn {
  color: #fff;
  font-size: 20px;
}
main .posters .posters-inner .posters-cards .poster-card:first-child .buy-share .share {
  color: #fff;
  font-size: 15px;
}
main .posters .posters-inner .posters-cards .poster-card:first-child .buy-share .share img {
  width: 20px;
}
main .posters .posters-inner .posters-cards .poster-card:nth-child(2) {
  background-image: url(../images/poster_2.jpg);
  grid-area: column-2;
  align-items: flex-start;
  padding: 80px 0 0 80px;
}
main .posters .posters-inner .posters-cards .poster-card:nth-child(2) .poster-text {
  font-family: "Times New Roman";
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
main .posters .posters-inner .posters-cards .poster-card:nth-child(2) .poster-writter {
  font-family: "Georgia";
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
}
main .posters .posters-inner .posters-cards .poster-card:nth-child(3) {
  background-image: url(../images/poster_3.jpg);
  grid-area: column-3;
}
main .posters .posters-inner .posters-cards .poster-card:nth-child(3) .poster-text {
  font-family: "Eagle Lake", cursive;
  font-size: 30px;
  margin-top: 35px;
}
main .posters .posters-inner .posters-cards .poster-card:last-child {
  background-image: url(../images/poster_4.jpg);
  grid-area: column-4;
  color: #fff;
}
main .posters .posters-inner .posters-cards .poster-card:last-child .poster-text {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 170px;
}
main .posters .posters-inner .posters-cards .poster-card:last-child .poster-text span {
  font-size: 37px;
  font-weight: 900;
}

footer {
  font-family: "Montserrat", sans-serif;
}
footer .footer-inner {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 90px 0;
}
footer .footer-inner .footer-nav, footer .footer-inner .footer-shop, footer .footer-inner .footer-contact, footer .footer-inner .footer-newsletter {
  flex: 1;
}
footer .footer-inner .footer-nav .footer-title, footer .footer-inner .footer-shop .footer-title, footer .footer-inner .footer-contact .footer-title, footer .footer-inner .footer-newsletter .footer-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}
footer .footer-inner .footer-nav .footer-text, footer .footer-inner .footer-shop .footer-text, footer .footer-inner .footer-contact .footer-text, footer .footer-inner .footer-newsletter .footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
footer .footer-inner .footer-nav .phone, footer .footer-inner .footer-shop .phone, footer .footer-inner .footer-contact .phone, footer .footer-inner .footer-newsletter .phone {
  margin-top: 40px;
}
footer .footer-inner .footer-nav .phone, footer .footer-inner .footer-nav .fax, footer .footer-inner .footer-nav .mail, footer .footer-inner .footer-shop .phone, footer .footer-inner .footer-shop .fax, footer .footer-inner .footer-shop .mail, footer .footer-inner .footer-contact .phone, footer .footer-inner .footer-contact .fax, footer .footer-inner .footer-contact .mail, footer .footer-inner .footer-newsletter .phone, footer .footer-inner .footer-newsletter .fax, footer .footer-inner .footer-newsletter .mail {
  line-height: 1.6;
}
footer .footer-inner .footer-nav nav, footer .footer-inner .footer-shop nav, footer .footer-inner .footer-contact nav, footer .footer-inner .footer-newsletter nav {
  display: flex;
  flex-direction: column;
}
footer .footer-inner .footer-nav nav .nav-link, footer .footer-inner .footer-shop nav .nav-link, footer .footer-inner .footer-contact nav .nav-link, footer .footer-inner .footer-newsletter nav .nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 18px;
}
footer .footer-inner .footer-nav input, footer .footer-inner .footer-shop input, footer .footer-inner .footer-contact input, footer .footer-inner .footer-newsletter input {
  height: 40px;
  width: 100%;
  background-color: #eaeef1;
  border: none;
  outline: none;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}
footer .footer-inner .footer-nav input::placeholder, footer .footer-inner .footer-shop input::placeholder, footer .footer-inner .footer-contact input::placeholder, footer .footer-inner .footer-newsletter input::placeholder {
  color: #a9a9a9;
}
footer .footer-inner .footer-nav button, footer .footer-inner .footer-shop button, footer .footer-inner .footer-contact button, footer .footer-inner .footer-newsletter button {
  width: 128px;
  height: 38px;
}
footer .footer-ending {
  background-color: #eaeef1;
  height: 90px;
}
footer .footer-ending .footer-ending-inner {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-ending .footer-ending-inner .copyright {
  font-size: 16px;
  font-weight: 400;
}
footer .footer-ending .footer-ending-inner .socials {
  display: flex;
}
footer .footer-ending .footer-ending-inner .socials i {
  color: #bbbec1;
  margin-left: 24px;
}

/*# sourceMappingURL=styles.css.map */
