*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;

    .header-inner{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;

        .logo img{
            vertical-align: middle;
        }

        .nav-menu{
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 15px;
            padding: 9px 0;
            color: #fff;
            border-top: 4px solid #fff;
            border-bottom: 4px solid #fff;
        }
    }

    .hero{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        color: #fff;
    
        .hero-inner{
            width: 70%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
    
            .hero-title{
                font-size: 220px;
                font-weight: 100;
                text-transform: uppercase;
                letter-spacing: 14.08px;
            }
        
            .hero-subtitle{
                font-size: 64px;
                font-weight: 700;
                letter-spacing: 6.4px;
                margin-bottom: 228px;
            }

            .indicators{
                display: flex;
                align-self: center;
                margin-bottom: 114px;
        
                .circle{
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #000;
                    margin: 0 12px;

                    &.active{
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

main{
    .about{

        .about-inner{
            width: 70%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 90px 0;

            .about-title{
                font-size: 60px;
                font-weight: 700;

                span{
                    font-weight: 200;
                }
            }

            .about-description{
                font-size: 20px;
                font-weight: 600;
                margin-top: 38px;
            }

            .line{
                width: 80px;
                height: 2px;
                background-color: #000;
                margin: 40px 0;
            }

            .about-text{
                font-size: 20px;
                font-weight: 500;
                line-height: 1.5;
            }
        }
    }

    .testimonials{
        height: 650px;
        background-color: #ffddd5;

        .testimonials-inner{
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;

            .testimonials-content{
                flex: 1;
                padding: 100px 0px 80px 5%;

                .testimonials-text{
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.5;
                }

                .testimonials-writter{
                    font-size: 36px;
                    font-weight: 100;
                    margin-top: 50px;
                }

                .indicators{
                    display: flex;

                    .circle{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 1px solid #626262;
                        margin: 40px 5px 0 5px;

                        &.active{
                            background-color: #626262;
                        }
                    }
                }
            }

            .testimonials-image{
                flex: 1;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .reasons{

        .reasons-inner{
            height: 100%;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 90px 0;

            .reasons-title{
                font-size: 60px;
                font-weight: 700;
            }

            .line{
                width: 80px;
                height: 2px;
                background-color: #000;
                margin-top: 30px;
                margin-bottom: 80px;
            }

            .cards-row{
                display: flex;

                .card{
                    flex: 1;
                    width: 290px;
                    padding: 50px;
                    border: 1px solid #dcdcdc;

                    &:nth-child(odd){
                        border-right: none;
                    }

                    .card-title{
                        font-size: 30px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    .card-text{
                        font-size: 20px;
                        font-weight: 500;
                        margin: 36px 0;
                        line-height: 1.5;
                    }

                    .card-writter{
                        font-size: 20px;
                        font-weight: 400;
                        font-style:italic;
                    }
                }

                &:last-child{
                    
                    .card{
                        border-top: 0;
                    }
                }
            }

            .btn{
                align-self: center;
                margin-top: 60px;

                button{
                    width: 280px;
                    height: 60px;
                    border-radius: 4px;
                    border: 1px solid #000;
                    background: none;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    cursor: pointer;
                }
            }
        }
    }

    .quotes{
        height: 660px;
        background-image: url(../images/quotes-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .quotes-inner{
            height: 100%;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 90px 0;
            color: #fff;

            .quote{
                font-size: 60px;
                font-weight: 700;
            }

            .reference{
                font-size: 20px;
                font-weight: 400;
                margin-top: 50px;

                .underline{
                    text-decoration:underline;
                }
            }
        }
    }
}




